{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "usage",
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/proposal-export-default-from",
    "@babel/proposal-export-namespace-from",
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": false,
        "regenerator": true
      }
    ]
  ]
}